body {
  background-color: rgb(191, 212, 216);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

h1,
h3 {
  color: rgb(50, 50, 50);
}

h1 {
  font-size: 50px;
  margin: 15px;
}

h3 {
  opacity: 0.6;
  font-weight: 600;
  margin-bottom: 0px;
}

@media (max-width: 320px) {
  body {
    background-color: #a1afff;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  body {
    background-color: #eaff9e;
  }
}

@media (min-width: 769px) and (max-width: 2199px) {
  body {
    background-color: #95ffec;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #311847;
  }
}